# QUESTION 1
 
 #objective: we have to determine,is there any significance difference in the diameter of the cutlet btw two units
 #framing of the hypothesis:Let Mu1 is the mean diameter of cutlet of unit1 and Mu2 is the mean diameter of cutlet of unit2
  #Null hypothesis: There is no significance diff btw two units(Mu1-Mu2=0)
  #Alternative hypothesis: There is significance diff btw two units(Mu1-Mu2!=0)
  #Test statistics :Two sample two tail test
  #Significance level(α):0.05

In [6]:
data=pd.read_csv('Cutlets.csv')
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [18]:
import pandas as pd
from scipy import stats

In [11]:
UnitA = data['Unit A']
UnitB = data['Unit B']

In [19]:
pvalue = stats.ttest_ind(UnitA,UnitB)[1]

In [20]:
pvalue

0.4722394724599501

In [21]:
if pvalue<0.05:
    print('we reject Null Hypothesis')
else:
    print('we fail to reject Null Hypothesis')

we fail to reject Null Hypothesis

# QUESTION 2

 #objective: we have to determine,is there any significance difference in the avg Turn Around Time(TAT) of reports of the  laboratories 
 #framing of the hypothesis:Let µ1,µ2,µ3,µ4 are the mean of TAT of lab1, lab2,lab3 and lab4.
  #Null hypothesis: There is no significance diff btw two units(µ1=µ2=µ3=µ4)
  #Alternative hypothesis: There is significance diff btw two units(µ1!=µ2!=µ3!=µ4)
  #Test statistics :Anova test
  #Significance level(α):0.05

In [22]:
import pandas as pd
from scipy import stats

In [68]:
data = pd.read_csv('LabTAT.csv')
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [24]:
Lab1 = data['Laboratory 1']
Lab2 = data['Laboratory 2']
Lab3 = data['Laboratory 3']
Lab4 = data['Laboratory 4']

In [28]:
pvalue = stats.f_oneway(Lab1,Lab2,Lab3,Lab4)[1]

In [29]:
pvalue

2.1156708949992414e-57

pvalue=2.1156708949992414e-57 which is less than the significance level.So we have to reject the null hypothesis.So we conclude that there is difference in average TAT among the different laboratories.

# QUESTION3

#objective: we have to determine,is there any significant similarity btw sales in different regions for male and female buyers.
 #framing of the hypothesis :
  #Null hypothesis: Male and Female buyer rations are similar across all regions.
  #Alternative hypothesis:  Male and Female buyer rations are not similar across all regions.
  #Test statistics :Chi-square test
  #Significance level(α):0.05

In [41]:
import pandas as pd
from scipy import stats

In [43]:
data=pd.read_csv('BuyerRatio (1).csv')
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [44]:
Males=[50,142,131,70]
Females=[435,1523,1356,750]
Sales=[Males,Females]

In [46]:
chistats=stats.chi2_contingency(Sales)
print('Test t=%f p-value=%f' %(chistats[0], chistats[1]))
print('Interpret by p-value')
if chistats[1]<0.05:
    print('we reject null hypothesis')
else:
    print('we accept null hypothesis')

Test t=1.595946 p-value=0.660309
Interpret by p-value
we accept null hypothesis

# QUESTION 4
#objective: we have to determine, whether the defective %varies by centre.
 #framing of the hypothesis:
  #Null hypothesis:Defective %doesn't varies by centre
  #Alternative hypothesis: Defective % varies by centre
  #Test statistics :Chi-square test
  #Significance level(α):0.05

In [4]:
import pandas as pd
from scipy import stats

In [11]:
data=pd.read_csv('Costomer+OrderForm.csv')
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [9]:
data['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [13]:
data['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [14]:
data['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [15]:
data['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [18]:
Errorfree=[271,267,269,271]
Defective=[29,33,31,29]

In [20]:
chistats_defective=stats.chi2_contingency([Errorfree,Defective])
print('Test t=%f p-value=%f' %(chistats_defective[0], chistats_defective[1]))
print('Interpret by p-value')
if chistats_defective[1]<0.05:
    print('we reject null hypothesis')
else:
    print('we accept null hypothesis')

Test t=0.401472 p-value=0.939938
Interpret by p-value
we accept null hypothesis

# QUESTION 5

#objective: we have to determine,whether the % of males versus females walking into the stores based on day of the week.
 #framing of the hypothesis:
  #Null hypothesis: proportion % don't differ btw male n female
  #Alternative hypothesis: proportion %  differ btw male n female
  #Test statistics : Proportion test
  #Significance level(α):0.05

In [29]:
import pandas as pd
from scipy import stats
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

In [33]:
data=pd.read_csv('Faltoons.csv')
data.head(10)

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female
5   Female    Male
6   Female  Female
7   Female    Male
8   Female  Female
9   Female    Male

In [35]:
 data['Weekdays'].value_counts()

Female    287
Male      113
Name: Weekdays, dtype: int64

In [37]:
data['Weekend'].value_counts()

Female    233
Male      167
Name: Weekend, dtype: int64

In [38]:
count = np.array([280,520]) #How many male and female
nobs = np.array([400,400]) #total number of female and male are there
stat,pval =proportions_ztest(count,nobs,alternative='two-sided')

C:\Users\LENOVO\anaconda3\lib\site-packages\statsmodels\stats\weightstats.py:788: RuntimeWarning: divide by zero encountered in double_scalars
  zstat = value / std

In [39]:
pval

0.0